In [2]:
#import lib

from bs4 import BeautifulSoup
import requests
import smtplib
import time
import datetime

In [28]:
#connect to the website
URL='https://www.amazon.com/Data-T-Shirt-Analysts-Scientists-STEM/dp/B07PMCRVHB'
headers={"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36","Accept-Encoding": "gzip, deflate","Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8","DNT":"1","Connection":"Close","Upgrade-Insecure-Requests":"1"}

page=requests.get(URL,headers=headers)

soup1=BeautifulSoup(page.content, "html.parser")
soup2=BeautifulSoup(soup1.prettify(),"html.parser")

title=soup2.find(id='productTitle').get_text()

price=soup2.find('span', class_='a-price-whole').get_text()
fraction=soup2.find('span',class_="a-price-fraction").get_text()

ratings=soup2.find('i', class_="a-icon a-icon-star a-star-5 cm-cr-review-stars-spacing-big").get_text()
print(title)

print(price+fraction)
print(ratings)

                    Data T-Shirt for Data Analysts, Scientists, BI, STEM (SALE) T-Shirt


                      18

                       .


                      49



                        5.0 out of 5 stars

In [30]:
print(price.strip() + fraction.strip())

18

                       .49

In [32]:
# Assuming price and fraction contain the values you mentioned
price = "18\n"
fraction = "            .49"

# Remove all non-digit characters from price and fraction
price = re.sub(r'\D', '', price)
fraction = re.sub(r'\D', '', fraction)

# Concatenate price and fraction with a decimal point between them
result = f"{price}.{fraction}"

# Print the result
print(result)

18.49

In [34]:
title=title.strip()
print(title)

Data T-Shirt for Data Analysts, Scientists, BI, STEM (SALE) T-Shirt

In [44]:
import csv
header=['Title','result','Date']
data=[title,result,today]
with open('Amazon_web_scraper.csv','w',newline='',encoding='UTF8') as f:
 writer=csv.writer(f)
 writer.writerow(header)
 writer.writerow(data)

In [45]:
import pandas as pd
df=pd.read_csv('/content/Amazon_web_scraper.csv')
print(df)

                                               Title  result        Date
0  Data T-Shirt for Data Analysts, Scientists, BI...   18.49  2024-03-30

In [39]:
#to know when i collected data
today=datetime.date.today()
print(today)

2024-03-30

In [ ]:
#now we are appending data to the csv

with open('Amazon_web_scraper.csv','a+',newline='',encoding='UTF8') as f:
 writer=csv.writer(f)
 writer.writerow(data)

In [54]:
def check_result():

   URL='https://www.amazon.com/Data-T-Shirt-Analysts-Scientists-STEM/dp/B07PMCRVHB'
   headers={"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36","Accept-Encoding": "gzip, deflate","Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8","DNT":"1","Connection":"Close","Upgrade-Insecure-Requests":"1"}

   page=requests.get(URL,headers=headers)

   soup1=BeautifulSoup(page.content, "html.parser")
   soup2=BeautifulSoup(soup1.prettify(),"html.parser")

   title=soup2.find(id='productTitle').get_text()

   price=soup2.find('span', class_='a-price-whole').get_text()
   fraction=soup2.find('span',class_="a-price-fraction").get_text()

   price = re.sub(r'\D', '', price)
   fraction = re.sub(r'\D', '', fraction)
   result = f"{price}.{fraction}"
   title=title.strip()
   today=datetime.date.today()

   import csv
   header=['Title','result','Date']
   data=[title,result,today]
   with open('Amazon_web_scraper.csv','a+',newline='',encoding='UTF8') as f:
    writer=csv.writer(f)
    writer.writerow(data)

In [59]:
while(True):
   check_result()
   time.sleep(86400)

KeyboardInterrupt:

In [60]:
import pandas as pd
df=pd.read_csv('/content/Amazon_web_scraper.csv')
print(df)

                                                Title  \
0   Data T-Shirt for Data Analysts, Scientists, BI...
1   Data T-Shirt for Data Analysts, Scientists, BI...
2   Data T-Shirt for Data Analysts, Scientists, BI...
3   Data T-Shirt for Data Analysts, Scientists, BI...
4   Data T-Shirt for Data Analysts, Scientists, BI...
5   Data T-Shirt for Data Analysts, Scientists, BI...
6   Data T-Shirt for Data Analysts, Scientists, BI...
7   Data T-Shirt for Data Analysts, Scientists, BI...
8   Data T-Shirt for Data Analysts, Scientists, BI...
9   Data T-Shirt for Data Analysts, Scientists, BI...
10  Data T-Shirt for Data Analysts, Scientists, BI...

                                               result        Date
0                                               18.49  2024-03-30
1   \n                      18\n                  ...  2024-03-30
2   \n                      18\n                  ...  2024-03-30
3   \n                      18\n                  ...  2024-03-30
4   \n                      18\n                  ...  2024-03-30
5   \n                      18\n                  ...  2024-03-30
6                                               18.49  2024-03-30
7                                               18.49  2024-03-30
8                                               18.49  2024-03-30
9                                               18.49  2024-03-30
10                                              18.49  2024-03-30